#transaction-area {
  display: none;
}
#banking-area {
  display: none;
}
input::-webkit-inner-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
